<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <span class="glyphicon glyphicon-home"></span> Principal
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home.book.list"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>{{ vm.relativeDate }}</li>
      </ul>
    </div>
  </div>
</nav>
