<div>
  {{TestController.name}}
  <div>
    {{TestController.answered}}/{{TestController.total}}
  </div>
  <div ng-if="TestController.question">
    {{TestController.question.title}}
    <div ng-repeat="option in TestController.question.options">
      <button type="button"
              ng-click="TestController.validateAnswer(option)"
              ng-class="{false:'btn btn-danger', true:'btn btn-success', null:'btn btn-primary'}[option.state]">
              {{option.value}}
      </button>
    </div>
  </div>
  <div ng-if="!TestController.question">
    <button type="button"
            ng-click="TestController.startTest()"
            class="btn btn-default">
      Empezar Test
    </button>
  </div>
</div>
