<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Lista de preguntas</div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>
          Pregunta
        </th>
        <th>
          Tipo
        </th>
        <th>
          Capitulo
        </th>
        <th>
          Editar
        </th>
        <th>
          Eliminar
        </th>
      </tr>
    </thead>
    <tr ng-repeat="question in questions">
      <td>
        {{question.title}}
      </td>
      <td>
        {{question.type}}
      </td>
      <td>
        {{question.chapter}}
      </td>
      <td>
        <a ng-if="isOwner(question)" ui-sref="book.questions.edit({questionId: question.id})">Editar</a>
      </td>
      <td>
        <a ng-if="isOwner(question)" ng-click="deleteQuestion(question, $index)">Eliminar</a>
      </td>
    </tr>
  </table>
</div>

<div ui-view>
  <a class="btn btn-primary"
     ui-sref="book.questions.create">Agregar repuesta</a>
</div>
