<div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <div ui-view>

    <div class="jumbotron text-center">
      <p class="lead">
        <img src="assets/images/respondon.png" alt="respondon"><br>
      </p>
      <!-- <p class="animated infinite" ng-class="main.classAnimation">
        <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
      </p> -->
      <p>
        With ♥ thanks to the contributions of<acme-malarkey extra-values="['Rolf', 'Wolf', 'Wargos']" />
      </p>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="book in main.books">
        <div class="thumbnail">
          <!-- <img class="pull-right" ng-src="assets/images/{{ book.logo }}" alt="{{ book.title }}"> -->
          <div class="caption">
            <a ui-sref="book.home({bookId: book._id})">
              <h3>{{ book.title }}</h3>
            </a>
            <p>{{ book.description }}</p>
            <p><a ng-href="{{book.url}}">{{ book.url }}</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
