<div>
  <div class="row space" ng-repeat="event in events">
    <div>
      <div class="col-sm-2">
        <img src="./public/assets/img/store/{{event.image}}"
             alt="{{event.title}}">
      </div>
      <div class="col-sm-10">
        <div class="caption">
          <h3 ng-if="event.title">
            <a ui-sref="events.detail.talks({id: event.id})">
              {{event.title}}
            </a>
          </h3>
          <h3 ng-if="!event.title">
            <a ui-sref="events.detail.talks({id: event.id})">
              No tiene nombre
            </a>
          </h3>
          <p>Lorem arcu sit dapibus pulvinar enim turpis? Tincidunt? Elementum nunc porta ridiculus sed? Tempor nec? Dolor facilisis sed, et ultrices! Non eros est est? Augue ultrices, amet? Arcu in risus.</p>
        </div>
      </div>
    </div>
  </div>
</div>
